- name: Deploy app
  hosts: local
  gather_facts: false
  # vars:
  #   namespace: "{{ namespace }}"
  #   environment: "{{ environment }}"
  #   actor: "{{ actor }}"        
  #   ghcr_pat: "{{ ghcr_pat }}"
  #   chart: "{{ chart }}"

  tasks:

    - name: Tipo de environment
      ansible.builtin.debug:
        msg: "environment es {{ deploy_environment | type_debug }}"

    - name: Debug platform-ci-cd
      ansible.builtin.shell: |
        echo namespace en ansible: "{{ namespace }}"
        echo environment en ansible: "{{ deploy_environment }}"
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"
      register: debug_fs

    - name: Mostrar filesystem
      ansible.builtin.debug:
        var: debug_fs.stdout_lines
        
    - name: Crear namespace Kubernetes
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ namespace }}-{{ deploy_environme }}"
        state: present
        
    - name: chmod script
      ansible.builtin.shell: |
        chmod +x platform-ci-cd/scripts/helm_deploy.sh
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"


    - name: Deploy Helm (script)
      ansible.builtin.command: >
        ./platform-ci-cd/scripts/helm_deploy.sh
        {{ namespace }}  
        {{ deploy_environment }}
        {{ actor }}
        {{ ghcr_pat }}
        {{ chart }}
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"
