- name: Deploy app
  hosts: local
  gather_facts: false
  vars:
    namespace: "{{ namespace }}"
    environment: "{{ environment }}"
    actor: "{{ actor }}"        
    ghcr_pat: "{{ ghcr_pat }}"
    chart: "{{ chart }}"

  tasks:
    - name: Crear namespace Kubernetes
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ namespace }}"
        state: present
        
    # - name: Debug platform-ci-cd
    #   ansible.builtin.shell: |
    #     pwd
    #     ls -la
    #     ls -la platform-ci-cd
    #     ls -la platform-ci-cd/scripts
    #   args:
    #     chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"
    #   register: debug_fs

    # - name: Mostrar filesystem
    #   ansible.builtin.debug:
    #     var: debug_fs.stdout_lines

    - name: chmod script
      ansible.builtin.shell: |
        chmod +x platform-ci-cd/scripts/helm_deploy.sh
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"


    - name: Deploy Helm (script)
      ansible.builtin.command: >
        ./platform-ci-cd/scripts/helm_deploy.sh
        {{ namespace }}  
        "{{ environment | string }}" 
        {{ actor }}
        {{ ghcr_pat }}
        "{{ chart | string }}"
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"
