- name: Deploy app
  hosts: local
  gather_facts: false
  # vars:
  #   namespace: "{{ namespace }}"
  #   environment: "{{ environment }}"
  #   actor: "{{ actor }}"        
  #   ghcr_pat: "{{ ghcr_pat }}"
  #   chart: "{{ chart }}"

  tasks:

    # - name: Tipo de environment
    #   ansible.builtin.debug:
    #     msg: "environment es {{ deploy_environment | type_debug }}"

        
    - name: chmod script
      ansible.builtin.shell: |
        chmod +x platform-ci-cd/scripts/helm_deploy.sh
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"


    - name: Deploy Helm (script)
      ansible.builtin.command: >
        ./platform-ci-cd/scripts/helm_deploy.sh
        {{ namespace }}  
        {{ deploy_environment }}
        {{ actor }}
        {{ ghcr_pat }}
        {{ chart }}
        {{ image_tag }}
      args:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"
      register: deploy_output 
      ignore_errors: false

    - name: Mostrar salida del script 
      debug: 
        var: deploy_output.stdout_lines
