name: Terraform Infra

on:
    push:
        branches:
        - main
    pull_request:
    workflow_dispatch:
        inputs:
            action:
                description: "Select the Terraform action to execute"
                required: true
                default: "plan"
                type: choice
                options:
                - init
                - plan
                - apply
                - destroy
jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.5 

      - name: Terraform Init
        if: ${{ github.event.inputs.action == 'init' || github.event.inputs.action == 'plan' || github.event.inputs.action == 'apply' || github.event.inputs.action == 'destroy' || github.event_name == 'push' || github.event_name == 'pull_request' }}
        run: terraform init
        working-directory: ./iac/Terraform

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' || github.event_name == 'push'  }}
        run: terraform plan 
        working-directory: ./iac/Terraform

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' || github.event_name == 'pull_request' }}
        run: terraform apply -auto-approve
        working-directory: ./iac/Terraform

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve
        working-directory: ./iac/Terraform
