name: Security Scan

on:
  workflow_call:

jobs:

## Analiza codigo (inyecciones SQL, XSS, uso inseguro de librerias, rutas inseguras, vurlnerabilidades...)(CodeQL)
  # -----------------------------
  # 1. SAST (solo si hay JS/TS)
  # -----------------------------
  sast:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check if JS files exist
        id: js_check
        run: |
          if ls **/*.js **/*.ts 1> /dev/null 2>&1; then
            echo "has_js=true" >> $GITHUB_OUTPUT
          else
            echo "has_js=false" >> $GITHUB_OUTPUT
          fi

      - name: Init CodeQL
        if: steps.js_check.outputs.has_js == 'true'
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      - name: Analyze CodeQL
        if: steps.js_check.outputs.has_js == 'true'
        uses: github/codeql-action/analyze@v3

## analiza dependencias (npm audit)
# ----------------------------------- 
# 2. SCA (solo si existe package.json) 
# -----------------------------------
  sca:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check if package.json exists
        id: pkg_check
        run: |
          if test -f package.json; then
            echo "has_pkg=true" >> $GITHUB_OUTPUT
          else
            echo "has_pkg=false" >> $GITHUB_OUTPUT
          fi

      - name: Install dependencies
        if: steps.pkg_check.outputs.has_pkg == 'true'
        run: npm install

      - name: Audit dependencies
        if: steps.pkg_check.outputs.has_pkg == 'true'
        run: npm audit --audit-level=high

## Analiza la imagen de Docker (Trivy)
# ----------------------------------- 
# 3. Docker Security (si hay Dockerfile) 
# ----------------------------------
  docker-security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check if Dockerfile exists
        id: docker_check
        run: |
          if test -f Dockerfile; then
            echo "has_docker=true" >> $GITHUB_OUTPUT
          else
            echo "has_docker=false" >> $GITHUB_OUTPUT
          fi

## Detecta si se han subido toknes, pass, api keys, claves privadas...(TruffleHog)
# ----------------------------- 
# 4. Secret scanning (siempre) 
# -----------------------------
  secret-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

